@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  background: #679186;
  display: flex;
}

.heading {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.main_box {
  background: #bbd4ce;
  width: 500px;
  height: 450px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
#display {
  width: 74%;
  height: 48%;
  background: palevioletred;
  border-radius: 10px;
  margin-top: 7px;
}

#output {
  padding: 10px 0 10px 15px;
}
.allbtn {
  margin-top: 20px;
}
.Gbtn {
  color: #ffffff;
  background: #265a70;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  width: 156px;
  height: 40px;
  cursor: pointer;
  margin-right: 55px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.Cbtn {
  color: #ffffff;
  background: #265a70;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  width: 135px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 27px;
  }

  .main_box {
    width: 250px;
    height: 386px;
    margin: 39px auto;
  }

  #display {
    width: 88%;
    height: 38%;
    margin-top: 10px;
  }

  .allbtn {
    display: flex;
  }

  .Gbtn {
    font-size: 16px;
    width: 133px;
    height: 40px;
    margin-right: 11px;
  }

  .Cbtn {
    font-size: 16px;
    width: 122px;
  }
}
